/* src/components/Features.css */
.features {
    padding: 50px 20px;
    text-align: center;
  }
  
  .featureList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .featureItem {
    flex: 1;
    margin: 0 10px;
    max-width: 300px;
  }
  
  .icon {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  @media (max-width: 768px) {
    .features {
      padding: 20px 10px; /* smaller padding for mobile */
    }
    
    .featureItem {
      max-width: 100%; /* full width for mobile devices */
      margin-bottom: 20px; /* Add margin to separate items on mobile */
    }
  }
  